* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: roboto-regular;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(./fonts/Roboto-Medium.ttf);
}

body {
  font-family: roboto-regular;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: rgba(255, 255, 255, 0.995);
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 30px 100px;
  padding: 10px;
}

.nav-1,
.nav-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.nav-1-left {
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  align-items: center;
  display: grid;
}

.nav-1-right {
  grid-template-columns: repeat(2, 1fr) 2fr;
  display: grid;
  align-items: center;
  gap: 10px;
}

.search {
  justify-self: end;
}

.nav-intro {
  justify-self: start;
  font-family: roboto-medium;
  font-weight: 400;
}

.box {
  border: 1px solid black;
  height: 20px;
  border-radius: 10px;
}

.nav-bell {
  justify-self: end;
}

.nav-2-left {
  padding: 25px;
  grid-template-columns: 75px 250px;
  gap: 10px;
  align-items: center;
  display: grid;
}

.nav-2-right {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-items: center;
}

button {
  background-color: rgb(66, 142, 218);
  color: white;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 90px;
}

.sidebar {
  background-color: rgb(66, 142, 218);
  color: aliceblue;
  grid-row: 1 / 3;
}

.main {
  background-color: rgb(196, 206, 215);
}

img {
  border-radius: 50%;
  width: 50px;
  height: auto;
  object-fit: fill;
}

.img-dog {
  width: 65px;
}
